@import './styleVariables.scss';

.App {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    background-color: $darkGrey;
    min-height: 100vh;
    text-align: center;
  }
}
